<!DOCTYPE html>
<html>

<head>
    <title>login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <style type="text/css">
        .btn-group {
            float: left;
            margin-left: 50px;
        }
    </style>
</head>

<body>
    <h2>{{text}}</h2>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="option.html"><img src="home.png" width="5%" height="100%">
                        <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    {{!-- <form method="POST" action="/logout"> --}}
                    <a class="nav-link" href="index.html">Logout</a>
                    {{!-- <form> --}}
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Coustmer
            </button>
            <div class="dropdown-menu">

                <a class="dropdown-item" href="addcustomer.html">Add</a>
                <a class="dropdown-item" href="removecustomer.html">Remove</a>
                <a class="dropdown-item" href="searchcustomer.html">Search</a>


            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Product
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="addproduct.html">Add</a>
                <a class="dropdown-item" href="removeproduct.html">Remove</a>
                <a class="dropdown-item" href="updateproductprice.html">Update</a>
                <a class="dropdown-item" href="searchproduct.html">Search</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Supplier
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="addsupplier.html">Add</a>
                <a class="dropdown-item" href="removesupplier.html">Remove</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Stock
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="addstock.html">Add</a>
                <a class="dropdown-item" href="updatestock.html">Update</a>
                <a class="dropdown-item" href="searchstock.html">Search</a>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Order
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="addbill.html">Add</a>
            </div>
        </div>
    </div>
</body>

</html>